.top{

}
.title-font{
	font-size: 50px;
	font-family: helvetica;
	font-style: bold;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

.carousel{
	width: 80%;
}

/*Entries*/
.entry{
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%;
	padding-right: 5%;
}

/*Entry 1*/
.entry1-bg{
	background-image: url('../Entry-1/bg.jpg');
	background-size: 100% ;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.entry-img{
	width:100%
}

.about-img{
	width: 50%;
}


.font-awesome{
	font-size: 4em;
}
.top-buffer{
	padding-top: 2%;
}
.bottom-buffer{
	padding-bottom: 2%;
}
.content-center{
	text-align: center;
}
.footlink{
	margin-left: 1%;
	margin-right: 1%;
}
.div-center{
	margin-left: auto;
	margin-right: auto;
}
