.model-showcase 
	overflow: hidden
.model-box 
	width: 20%
	overflow: hidden
	float: left
	-webkit-filter: grayscale(100%)
	-webkit-transition: .5s ease-in-out
	-moz-filter: grayscale(100%)
	-moz-transition: .5s ease-in-out
	-o-filter: grayscale(100%)
	-o-transition: .5s ease-in-out
	height: 30rem
	img 
		width: auto
		height: 100%