:root{
	font-size: 10px;
}
body{
	padding: 0rem;
}
img{
	width: 100%;
}
.carousel{
	width: 100%;
}
.slide-title{
	font-size: 2.5rem;
}
.slide-subtitle{
	display: none;
}

/*Bootstrap Navbar*/
.navbar-default{
	z-index: 2;
	/*position: absolute;*/
	width: 100%;
	background-color: rgba(255, 255, 255, 0.49);
}
.navbar-default .navbar-brand{
	color: black;
}
.navbar-default .navbar-toggle{
	border-color: black;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: black;
}




@media(min-width: 720px){
	.slide-subtitle{
		display: block;		
	}
}

/*
.title-font{
	font-size: 50px;
	font-family: helvetica;
	font-style: bold;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}


/*instafeed code*/
/*#instafeed{
	margin: auto;
	width: 100%;
	padding-left: 1%;
	padding-right: 1%;
}
#instafeed>a>img{
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}

header{
	margin-left: 0%;
	width: 100%;
}
body{
    padding: 2% 5% 2% 5%;
}
ul{
	list-style-type: none;
	width: 100%;
	padding: 0 0 0 0;
}
li{
	display: inline;
	padding-right: 1%;
}
header li{

}
h2{
	font-size: 4em;
}
h3{
	font-size: 3em;
}
ul h4{
    display: inline;
    font-size: 1.9em
}
header ul{
    padding-left: 1%;
}
#right-nav-item{
    padding-left: 1%;
}
footer{
	width: 100%;
	padding: 2% 2% 0% 2%;
	background-size: 100%;
	background-color: rgba(243, 243, 243, 0.71);
	border-radius: 10px;
	height: 20%;
	margin-top: 2%;
}
.credits{
	padding-top: 1%;
	display: inline;
	float: left;
	width: 50%;
}
footer ul{
	padding-top: 1%
}
footer li{
	display: inline;
	float: right;
	padding-left: 1%;
	padding-bottom: 1%
} 
.carousel{
	width: 95%;
	margin: auto;
}*/


/*Journal*/
/*.padding{
	padding: 3%;
}

.post{
	margin-top: 3%;
	margin-bottom: 3%;
}
.res-text{
	position: absolute;
	bottom: 1%;
	color: white;
	font-size: 2em;
	line-height: 100%;
	width: 90%;
}*/

/*Entries*/
/*.entry{
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%;
	padding-right: 5%;
}*/



/*Entry 1*/
/*.entry1-bg{
	background-image: url('../Entry-1/bg.jpg');
	background-size: 100% ;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.entry-img{
	width:100%
}

.about-img{
	width: 50%;
}


.font-awesome{
	font-size: 4em;
}
.top-buffer{
	padding-top: 2%;
}
.bottom-buffer{
	padding-bottom: 2%;
}
.content-center{
	text-align: center;
}
.div-center{
	margin-left: auto;
	margin-right: auto;
}



@media(max-width:767px){
}
@media(min-width:768px){
	#instafeed>a>img{
		width: 44%;
		margin-left: 3%;
		margin-right: 3%;
	}
}
@media(min-width:992px){	
	#instafeed>a>img{
		width: 26%;
		margin-left: 3%;
		margin-right: 3%;
	}}
@media(min-width:1200px){}
*/*/