
//fonts
@import 'fonts'
@import 'colors'




@import 'showcase'

\:root 
	font-size: 13px

body 
	padding: 0
a
	color: rgba($medium-turquoise, 0.88)
	text-decoration: none
	text-shadow: 3px 3px rgba($pastel-red, 0.5)
a:hover
	color: rgba($pastel-red, 0.9)
	text-decoration: none
	text-shadow: 2px 2px rgba($medium-turquoise, 0.9)
a:active
	text-shadow: 0px 0px rgba($medium-turquoise, 0.9)

//navbar
.nav
	text-align: center
	a.title		
		font-size: 5.5rem
		//3d nav transparent shadows effects
		color: rgba($medium-turquoise, 0.66)
		text-decoration: none
		text-shadow: 6px 5px rgba($pastel-red, 0.66)
		&:hover
			color: rgba($pastel-red, 0.8)
			text-decoration: none
			text-shadow: 4px 3px rgba($medium-turquoise, 0.8)
		&:active
			text-shadow: 0px 0px rgba($medium-turquoise, 0.9)
	.subtitle
		color: rgba($raisn-black, 0.75)
		font-family: $railway
		font-size: 1rem
		font-weight: 700
		margin-top: -0.8rem



// .search 
// 	width: 95%
// 	margin: auto

// .search-bar 
// 	width: 80%
// 	font-size: 3rem
// 	height: 7rem
// 	margin-top: 1rem
// 	margin-bottom: 2rem

// .search-button 
// 	height: 7rem
// 	font-size: 3rem
// 	width: 20%

// .results-container 
// 	margin: 2rem

// .results-row 
// 	display: block
// 	margin-top: 0.5rem
// 	margin-bottom: 0.5rem

// .image-container 
// 	width: 100%
// 	margin: 0.5rem

// .advanced-link 
// 	margin-top: 1rem
// 	margin-bottom: 1rem
// 	display: block
// 	text-align: center
// 	font-size: 2rem

// .advanced-options 
// 	display: none

// .advanced-section 
// 	margin: auto
// 	display: block
// 	width: 95%
// 	border: 1px solid $black

// .advanced-section-title 
// 	font-size: 2rem
// 	margin: 0.5rem

ul 
	list-style-type: none

#preview 
	display: none
	width: 80%
	margin: auto
	padding: 1rem

#photo-info 
	display: none

.upload-form 
	margin: auto
	padding: 2rem

#upload-button 
	width: 80%
	margin-left: auto
	margin-right: auto
	margin-top: 2rem
	display: block
	padding: 1rem
	background-color: $color_water_leaf_71_approx
	color: $color_gravel_approx
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 20px
	font-family: $font_0
	font-size: 1.5rem
	border-color: $color_scarpa_flow_63_approx

// .navbar 
// 	margin-bottom: auto

// .navbar-default 
// 	z-index: 2
// 	width: 100%
// 	background-color: $white_49
// 	.navbar-brand 
// 		color: $black

// 	.navbar-toggle 
// 		border-color: $black
// 		.icon-bar 
// 			background-color: $black


// 	.navbar-nav > li > a 
// 		color: $black


.neuter-container-padding 
	padding: 0

.carousel 
	width: 100%

.carousel-control 
	.glyphicon-chevron-left 
		display: none

	.glyphicon-chevron-right 
		display: none


.slide-title 
	font-size: 2.5rem
	display: none

.slide-subtitle 
	display: none

@media(min-width:320px) 

@media(min-width:481px) 

@media(min-width:641px) 
	.search-bar 
		width: 80%

	.search-button 
		width: 20%

	.results-row 
		display: flex
		margin-top: 0.5rem
		margin-bottom: 0.5rem

	.image-container 
		width: 33%
		margin-left: 0.5rem
		margin-right: 0.5rem


@media(min-width:961px) 
	\:root
		font-size: 16px
	.nav
		a.title
			font-size: 5.5rem
	.slide-title 
		display: block

	.slide-subtitle 
		display: block

	.carousel-control 
		.glyphicon-chevron-left 
			display: inline-block

		.glyphicon-chevron-right 
			display: inline-block


	.neuter-container-padding 
		padding-left: 15px
		padding-right: 15px

	// .model-showcase 
	// 	width: 100%

	// .model-box 
	// 	width: 20%
	// 	overflow: hidden
	// 	img 
	// 		width: 400px
	// 		height: 300px
	// 		margin: -75px 0 0 -100px


	.upload-form 
		float: left

	fieldset 
		width: 50%
		float: left


form.search-form 
	padding: 1rem

fieldset.standard 
	width: 100%
	text-align: center

footer ul 
	list-style-type: none
	padding: 1rem
	text-align: center
	li 
		display: inline-block
		padding: 1em
		color: $black
	i.fa.font-awesome 
		font-size: 5rem


@media(min-width:1025px) 

@media(min-width:1281px) //large screens
	.model-box
		width: 20%



