:root{
	font-size: 10px;
}
body{
	padding: 0rem;
}
img{
	width: 100%;
}


/*Search Form*/
form.search-form{
	padding: 1rem;
}
/*Search Bar*/
fieldset.standard{
	width: 100%;
	text-align: center;
}
.search-bar{
	width: 100%;
	font-size: 3rem;
	height: 7rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.search-button{
	height: 7rem;
	font-size: 3rem;
	width: 100%;
}
/*Search Results*/
.results-container{
	margin: 2rem;
}
.results-row{
	display: block;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.image-container{
	width: 100%;
	margin: 0.5rem;
}

/*Advanced*/
.advanced-link{
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: block;
	text-align: center;
	font-size: 2rem;
}
.advanced-options{
	display: none;
}
.advanced-section{
	margin: auto;
	display: block;
	width: 95%;
	border: 1px solid black;
}
.advanced-section-title{
	font-size: 2rem;
	margin: 0.5rem;
}



fieldset{
}
ul{
	list-style-type: none;
}




/*Upload Page*/
#preview{
	display: none;
	width: 80%;
	margin: auto;
	padding: 1rem;
}
#photo-info{
	display: none;
}
.upload-form{
	margin: auto;
	padding: 2rem;
}
#upload-button{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	display: block;
	padding: 1rem;
	background-color: rgba(161, 233, 229, 0.71);
	color: rgb(76, 76, 76);
	border-radius: 20px;
	font-family: "Helvetica";
	font-size: 1.5rem;
	border-color: rgba(86, 83, 103, 0.63);
}





a{
	color:black;
}
a:link{
	color:black;
}
a:hover{
	color: blue;
}

/*Footer*/
footer ul{
	list-style-type: none;
	padding: 1rem;
	text-align: center;
}
footer ul li{
	display: inline-block;
	padding: 1em;
	color: black;
}
i.fa.font-awesome{
	font-size: 5rem;
}


/*Bootstrap Navbar*/
.navbar{
	margin-bottom: auto;
}
.navbar-default{
	z-index: 2;
	/*position: absolute;*/
	width: 100%;
	background-color: rgba(255, 255, 255, 0.49);
}
.navbar-default .navbar-brand{
	color: black;
}
.navbar-default .navbar-toggle{
	border-color: black;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: black;
}
.navbar-default .navbar-nav>li>a{
	color: black;
}

.neuter-container-padding{
	padding: 0;
}

/*Bootstrap Carousel*/
.carousel{
	width: 100%;
}
.carousel-control .glyphicon-chevron-left{
	display: none;
}
.carousel-control .glyphicon-chevron-right{
	display: none;
}
.slide-title{
	font-size: 2.5rem;
	display: none;
}
.slide-subtitle{
	display: none;
}


@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	/*Search bar*/
	.search-bar{
		width: 80%;
	}
	.search-button{
		width: 20%;
	}

	/*Search Results*/
	.results-row{
		display: flex;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	.image-container{
		width: 33%;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	/*Bootstrap Carousel*/
	.slide-title{
		display: block;
	}
	.slide-subtitle{
		display: block;		
	}
	.carousel-control .glyphicon-chevron-left{
		display: inline-block;
	}
	.carousel-control .glyphicon-chevron-right{
		display: inline-block;
	}
	/*Bootstrap Bullshit*/
	.neuter-container-padding{
		padding-left: 15px;
		padding-right: 15px;
	}

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }