@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Hind:400,500|Lato:400,700';
.sean-colors {
  color: rgba(223, 160, 110, 0.66);
  text-decoration: none;
  text-shadow: 6px 5px rgba(119, 203, 185, 0.66); }

.jenny-colors {
  color: rgba(250, 255, 127, 0.66);
  text-decoration: none;
  text-shadow: 6px 5px rgba(30, 30, 36, 0.66); }

.ellen-colors {
  color: rgba(149, 224, 108, 0.66);
  text-decoration: none;
  text-shadow: 6px 5px rgba(255, 183, 193, 0.66); }

.kassie-colors {
  color: rgba(214, 166, 89, 0.66);
  text-decoration: none;
  text-shadow: 6px 5px rgba(162, 188, 120, 0.66); }

body {
  margin: 0;
  font-family: "Lato", sans-serif; }

a {
  color: rgba(78, 205, 196, 0.88);
  cursor: pointer;
  text-decoration: none;
  text-shadow: 3px 3px rgba(255, 107, 107, 0.5); }

a:hover {
  color: rgba(255, 107, 107, 0.9);
  text-decoration: none;
  text-shadow: 2px 2px rgba(78, 205, 196, 0.9); }

a:active {
  text-shadow: 0px 0px rgba(78, 205, 196, 0.9); }

.live-link {
  display: block;
  text-align: center; }

h3 {
  color: pink; }

img {
  width: 100%; }

.block-set {
  padding: 1rem;
  background-color: aliceblue; }

.block-set-title {
  color: white;
  text-shadow: 2px 2px 5px black; }

.block {
  background-color: #fafafa;
  padding: 1rem;
  border-width: 1px 6px 6px 1px;
  border-style: solid;
  border-color: gray;
  border-right-color: black;
  border-radius: 8px;
  margin-top: 1rem; }

.block-top {
  margin-bottom: 20px; }

.block-title {
  color: rgba(153, 204, 50, 0.69);
  text-align: left;
  font-size: 2rem;
  margin: 10px auto 0px auto; }

.block-source {
  display: block;
  text-align: right; }

#work {
  background-color: rgba(255, 192, 203, 0.3); }
  #work .work-block {
    border-color: darksalmon;
    border-right-color: #af715c; }
    #work .work-block .block-title {
      color: pink; }
    #work .work-block .skills-applied {
      list-style-type: none;
      margin: auto auto 10px auto;
      padding-left: 0; }
      #work .work-block .skills-applied li {
        background-color: gray;
        color: white;
        padding: 0.33rem;
        border-radius: 3px;
        display: inline-block;
        margin: 0.25rem;
        box-shadow: 5px 5px 5px black; }

#education .book-block {
  padding: 0px 5px 15px 5px;
  display: block;
  color: pink;
  text-shadow: none; }
  #education .book-block:hover {
    color: pink;
    text-shadow: none; }
  #education .book-block:active {
    text-shadow: none; }
  #education .book-block h3 {
    margin: 15px auto 5px auto; }
  #education .book-block i {
    color: #4ecdc4;
    display: block;
    text-align: right; }
#education .book-block:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.69);
  margin-left: -16px;
  margin-right: -16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  #education .book-block:nth-child(odd) h3 {
    margin-left: 16px;
    margin-right: 16px; }
  #education .book-block:nth-child(odd) i {
    margin-left: 16px;
    margin-right: 16px; }
#education .ca-block {
  padding: 0px 5px 15px 5px;
  display: block;
  color: pink;
  text-shadow: none; }
  #education .ca-block:hover {
    color: pink;
    text-shadow: none; }
  #education .ca-block:active {
    text-shadow: none; }
  #education .ca-block h3 {
    margin: 15px auto 5px auto; }
  #education .ca-block i {
    color: #4ecdc4;
    display: block;
    text-align: right; }
#education .ca-block:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.69);
  margin-left: -16px;
  margin-right: -16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  #education .ca-block:nth-child(odd) h3 {
    margin-left: 16px;
    margin-right: 16px; }
  #education .ca-block:nth-child(odd) i {
    margin-left: 16px;
    margin-right: 16px; }

.nav {
  text-align: center;
  padding: 0.5rem; }
  .nav a.title {
    font-size: 3.3rem;
    font-family: "Lato", sans-serif; }
    .nav a.title .schmid-colors {
      color: rgba(78, 205, 196, 0.66);
      text-decoration: none;
      text-shadow: 6px 5px rgba(255, 107, 107, 0.66); }
    .nav a.title:hover {
      color: rgba(255, 107, 107, 0.8);
      text-decoration: none;
      text-shadow: 4px 3px rgba(78, 205, 196, 0.8); }
    .nav a.title:active {
      text-shadow: 0px 0px rgba(78, 205, 196, 0.9); }
  .nav .subtitle {
    color: rgba(30, 30, 36, 0.75);
    font-family: "Railway", sans-serif;
    font-size: 1rem;
    font-weight: 700; }

footer ul {
  list-style-type: none;
  padding: 1rem;
  text-align: center; }
  footer ul li {
    display: inline-block;
    padding: 1em;
    color: black; }
  footer ul i.fa.font-awesome {
    font-size: 4.5rem; }

/*# sourceMappingURL=style.css.map */
