@import 'fonts'
@import 'colors'


//body setup
body
	margin: 0
	font-family: $lato
//links
a
	color: rgba($medium-turquoise, 0.88)
	cursor: pointer
	text-decoration: none
	text-shadow: 3px 3px rgba($pastel-red, 0.5)
a:hover
	color: rgba($pastel-red, 0.9)
	text-decoration: none
	text-shadow: 2px 2px rgba($medium-turquoise, 0.9)
a:active
	text-shadow: 0px 0px rgba($medium-turquoise, 0.9)
.live-link
	display: block
	text-align: center


//temp colors 
h3 
	color: pink

//images
img
	width: 100%


//general block setup
.block-set
	padding: 1rem
	background-color: aliceblue
.block-set-title
	color: white
	text-shadow: 2px 2px 5px black
.block
	background-color: $dirty-white
	padding: 1rem
	border-width: 1px 6px 6px 1px
	border-style: solid
	border-color: gray
	border-right-color: black
	border-radius: 8px
	margin-top: 1rem
.block-top
	margin-bottom: 20px
.block-title
	color: rgba(153, 204, 50, 0.69)
	text-align: left
	font-size: 2.0rem
	margin: 10px auto 0px auto
.block-source
	display: block
	text-align: right

//work-block-set
#work
	background-color: rgba(255, 192, 203, 0.3)
	.work-block
		border-color: darksalmon
		border-right-color: rgb(175, 113, 92)
		.block-title
			color: pink
		.skills-applied
			list-style-type: none
			margin: auto auto 10px auto
			padding-left: 0
			li
				background-color: gray
				color: white
				padding: 0.33rem
				border-radius: 3px
				display: inline-block
				margin: 0.25rem
				box-shadow: 5px 5px 5px black

//education-block-set
#education
	.book-block
		padding: 0px 5px 15px 5px
		display: block
		color: pink
		text-shadow: none
		&:hover
			color: pink
			text-shadow: none
		&:active
			text-shadow: none
		h3
			margin: 15px auto 5px auto
		i
			color: $medium-turquoise
			display: block
			text-align: right
	.book-block:nth-child(odd)
		background-color: rgba(242, 242, 242, 0.69)
		margin-left: -16px
		margin-right: -16px
		border-top: 1px solid $border-outline
		border-bottom: 1px solid $border-outline
		h3
			margin-left: 16px 
			margin-right: 16px
		i
			margin-left: 16px 
			margin-right: 16px	
	.ca-block
		padding: 0px 5px 15px 5px
		display: block
		color: pink
		text-shadow: none
		&:hover
			color: pink
			text-shadow: none
		&:active
			text-shadow: none
		h3
			margin: 15px auto 5px auto
		i
			color: $medium-turquoise
			display: block
			text-align: right		
	.ca-block:nth-child(odd)
		background-color: rgba(242, 242, 242, 0.69)
		margin-left: -16px
		margin-right: -16px
		border-top: 1px solid $border-outline
		border-bottom: 1px solid $border-outline
		h3
			margin-left: 16px 
			margin-right: 16px
		i
			margin-left: 16px 
			margin-right: 16px	
//navbar
.nav
	text-align: center
	padding: 0.5rem
	a.title	
		font-size: 3.3rem
		font-family: $lato
		.schmid-colors	
			//3d nav transparent shadows effects
			color: rgba($medium-turquoise, 0.66)
			text-decoration: none
			text-shadow: 6px 5px rgba($pastel-red, 0.66)
		&:hover
			color: rgba($pastel-red, 0.8)
			text-decoration: none
			text-shadow: 4px 3px rgba($medium-turquoise, 0.8)
		&:active
			text-shadow: 0px 0px rgba($medium-turquoise, 0.9)
	.subtitle
		color: rgba($raisin-black, 0.75)
		font-family: $railway
		font-size: 1rem
		font-weight: 700

footer ul 
	list-style-type: none
	padding: 1rem
	text-align: center
	li 
		display: inline-block
		padding: 1em
		color: $black
	i.fa.font-awesome 
		font-size: 4.5rem

// @media(min-width:320px) 

// @media(min-width:481px) 

// @media(min-width:641px) 




// @media(min-width:1025px) 

// @media(min-width:1281px) //large screens


