extends layout

block content
	.col-sm-10.col-sm-offset-1
		#myCarousel.carousel.slide(data-ride='carousel')
			ol.carousel-indicators
				li.active(data-target='#myCarousel', data-slide-to='0')
				li(data-target='#myCarousel', data-slide-to='1')
				li(data-target='#myCarousel', data-slide-to='2')
				li(data-target='#myCarousel', data-slide-to='3')
			.carousel-inner
				.item.active
					img(src='img/lei.jpg', alt='First slide')
					.container
						.carousel-caption
							h1 An Intoduction to the south.
							h4 
								em Charleston, SC
				.item
					img(src='img/jenny-gold.jpg', alt='Second slide')
					.container
						.carousel-caption
							h1 Golden Slumbers
							h4
								em Lancaster, PA
				.item
					img(src='img/sean-rachel.jpg', alt='Third slide')
					.container
						.carousel-caption
							h1 Come Over, Old Lover
							h4
								em Cathedral Cove, NZ
				.item
					img(src='img/erin-rock.jpg', alt='Third slide')
					.container
						.carousel-caption
							h1 Is There Room Eough for Me?
							h4
								em Coromandel, NZ


				a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
					span.glyphicon.glyphicon-chevron-left
				a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
					span.glyphicon.glyphicon-chevron-right
