extends layout

block content
	.model-showcase
		.model-box
			p.box-title
				| Philadelphia
			img.box1(src='https://s3.amazonaws.com/txnnxr-bucket/TannerW_TannerW-R1-048-22A-min.jpg')
		.model-box
			p.box-title 
				| Travels
			img.box2(src='https://s3.amazonaws.com/txnnxr-bucket/sean-rachel-min.jpg')
		.model-box
			p.box-title 
				| Drunk
			img.box3(src='https://s3.amazonaws.com/txnnxr-bucket/jenny-gold-min.jpg')
		.model-box
			p.box-title 
				| Stateside
			img.box4(src='https://s3.amazonaws.com/txnnxr-bucket/lei-min.jpg')
		.model-box
			p.box-title 
				| Reunions
			img.box5(src='https://s3.amazonaws.com/txnnxr-bucket/TannerW_TannerW-R3-038-17A+copy-min.jpg')
	//.search
		input.search-bar(type="text", name="query", placeholder="name in place" ng-model="query.text")
		button.search-button
			i.fa.fa-search(aria-hidden="true")