extends layout

block content
	.model-showcase
		.model-box
			img(src='https://s3.amazonaws.com/txnnxr-bucket/erin-rock-min.jpg')
		.model-box
			img(src='https://s3.amazonaws.com/txnnxr-bucket/sean-rachel-min.jpg')
		.model-box
			img(src='https://s3.amazonaws.com/txnnxr-bucket/jenny-gold-min.jpg')
		.model-box
			img(src='https://s3.amazonaws.com/txnnxr-bucket/lei-min.jpg')
		.model-box
			img(src='https://s3.amazonaws.com/txnnxr-bucket/me-min.jpg')
	//.search
		input.search-bar(type="text", name="query", placeholder="name in place" ng-model="query.text")
		button.search-button
			i.fa.fa-search(aria-hidden="true")