@import 'https://fonts.googleapis.com/css?family=Open+Sans:600';
@import 'http://fonts.googleapis.com/css?family=Six+Caps';
.backgroundVideo {
  display: none; }

.crt-parallax-video {
  height: 300px;
  padding-bottom: 50px;
  padding-top: 50px; }
  .crt-parallax-video video {
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -100; }
  .crt-parallax-video h1 {
    font-size: 76px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .crt-parallax-video h2 {
    font-size: 76px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }

.altTop {
  display: block; }

.plax.ccparallax-one {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25)), url("https://s3.amazonaws.com/txnnxr-bucket/Drax/draxBack.jpg"); }
.plax.ccparallax-two {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25)), url("https://s3.amazonaws.com/txnnxr-bucket/Drax/draxBack2.jpg"); }
.plax.ccparallax-three {
  background: linear-gradient(rgba(255, 255, 255, 0.42), rgba(255, 255, 255, 0.09)), url("https://s3.amazonaws.com/txnnxr-bucket/Drax/draxBack3.jpg");
  filter: grayscale(95%); }
.plax.ccparallax {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 20px;
  z-index: -90; }
.plax.content {
  background: none repeat scroll 0 0;
  padding: 42px 0; }
.plax h2 {
  font-family: "Six Caps", sans-serif;
  font-size: 76px;
  font-weight: 700;
  letter-spacing: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  color: #fbfbfb;
  text-shadow: black 3px 3px 20px; }

#gigs {
  height: 100%;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: auto; }

.gig-card {
  background-color: rgba(0, 0, 0, 0.95);
  font-size: 2rem;
  padding: 0.8em;
  margin-top: 1em;
  line-height: 1.2;
  border-radius: 5px;
  color: white;
  text-align: center; }
  .gig-card#first-gig-card {
    margin-top: 0em; }
  .gig-card p {
    width: 100%;
    float: left;
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 15px; }
  .gig-card button {
    background-color: rgba(240, 151, 76, 0.95);
    color: #f6f6f6;
    width: 80%;
    padding: 0.55em;
    margin: auto;
    font-size: 1em; }
    .gig-card button:hover {
      background-color: rgba(242, 152, 39, 0.95);
      color: #efefef; }

#press {
  background-color: black;
  padding: 1rem;
  clear: both; }
  #press .card-container {
    height: 20em;
    padding-left: 0;
    overflow: hidden; }
    #press .card-container .press-card {
      background-color: white;
      color: black;
      padding: 1rem;
      float: left;
      margin-left: 0;
      margin-right: 0;
      height: 90%;
      border-radius: 7px;
      width: 89%; }
      #press .card-container .press-card h1 {
        text-align: left; }
      #press .card-container .press-card blockquote {
        text-align: right; }

#social-icons {
  display: block;
  margin: auto;
  text-align: center;
  color: black;
  background-color: white;
  height: 100%; }
  #social-icons .fa {
    font-size: 5.2rem;
    padding-left: 1rem;
    padding-right: 1rem; }

.page-content {
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  z-index: 1; }

.toggle {
  position: fixed;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 20px;
  z-index: 2;
  text-decoration: none;
  font-size: 2rem;
  color: rgba(246, 246, 246, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  width: 0%; }

.sidebar {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: -190px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  z-index: 2;
  width: 120px;
  padding: 0px 30px 30px 30px;
  background: rgba(178, 178, 178, 0.37); }

li {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  border-top: solid rgba(0, 0, 0, 0.08) 1px;
  border-bottom: solid rgba(0, 0, 0, 0.08) 1px;
  width: 100%;
  list-style: none;
  margin-left: -2rem;
  padding: 2rem 0.9rem 2rem 3rem;
  -webkit-font-smoothing: antialiased;
  cursor: pointer; }
  li a {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    display: block;
    width: 80%;
    margin: auto; }
  li:hover {
    color: white;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    background-color: rgba(235, 235, 0, 0.72); }

#toggler {
  display: none; }
  #toggler:checked + .page-wrap .sidebar {
    left: 0px; }
  #toggler:checked + .page-wrap .toggle {
    left: 200px; }

header {
  height: 100%; }
  header #top-down-button {
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    color: white;
    width: 100%; }
    header #top-down-button .fa {
      font-size: 3em; }

.altTopBackground {
  background: linear-gradient(rgba(255, 255, 255, 0.42), rgba(255, 255, 255, 0.09)), url("https://s3.amazonaws.com/txnnxr-bucket/Drax/altTop.jpeg");
  padding-bottom: 200em;
  min-width: 100%;
  background-size: 100%;
  position: fixed;
  z-index: -100;
  right: 0;
  left: 0;
  top: 0; }

.top {
  text-align: center;
  padding: 3rem 1rem 0rem 1rem;
  color: rgba(235, 235, 0, 0.72); }
  .top .bandName {
    font-size: 4em;
    font-family: "Six Caps", sans-serif;
    letter-spacing: 0.5rem;
    text-align: center;
    margin: 1.2rem 0rem 3rem 0rem;
    color: rgba(255, 255, 255, 0.8); }
  .top #subtitle {
    font-family: "Six Caps", sans-serif;
    text-align: center;
    letter-spacing: 0.25em;
    font-size: 2em; }
  .top button {
    letter-spacing: 0.2rem;
    font-size: 1.6em;
    padding: 1.5rem;
    margin: 0rem 0rem 1rem 0rem; }

a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none; }
  a:hover {
    color: black; }

.backgroundVideo, .altBack {
  z-index: -1;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%; }

#page {
  background-color: none; }

button {
  background-color: #f6f6f6;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 0px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: rgba(235, 235, 0, 0.72);
  font-family: "Six Caps", sans-serif;
  letter-spacing: 0.66rem;
  font-size: 1.8em;
  font-weight: bold;
  padding: 1.8rem;
  margin: 2rem;
  text-decoration: none; }
  button:hover {
    background-color: rgba(235, 235, 0, 0.95);
    color: #f6f6f6; }

.buttonContainer {
  text-align: center; }

body {
  margin: 0;
  line-height: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: -webkit-linear-gradient(#383838, #2B2B2B);
  background: -moz-linear-gradient(#383838, #2B2B2B);
  background: -o-linear-gradient(#383838, #2B2B2B);
  background: linear-gradient(#383838, #2B2B2B);
  height: 100%; }

p {
  font-size: 16px;
  color: #f6f6f6; }

footer {
  text-align: center;
  color: #f6f6f6; }

@media(min-width: 320px) {
  #toggler:checked + .page-wrap .page-content {
    padding-left: 0px; } }
@media (min-width: 641px) {
  #toggler:checked + .page-wrap .page-content {
    padding-left: 180px; }

  .top {
    padding: 4rem 3rem 3rem 3rem; }
    .top .bandName {
      font-size: 6em; }
    .top #subtitle {
      letter-spacing: 0.1rem;
      font-size: 3.8em;
      padding: 1rem 1rem 0rem 1rem; }

  #gigs {
    padding-left: 1rem;
    padding-right: 1rem; }
    #gigs .gig-card {
      padding: 0.6rem;
      line-height: 1; }
      #gigs .gig-card p {
        margin-top: 0px; }
      #gigs .gig-card button {
        letter-spacing: 0.2rem;
        padding: 0.8rem; }

  #press {
    padding: 3rem 2rem 3rem 2rem; }
    #press .card-container {
      padding-left: 0; }
      #press .card-container .press-card {
        width: 94.4%; }

  #social-icons .fa {
    font-size: 4.5em; } }
@media (min-width: 961px) {
  .backgroundVideo {
    display: none; }

  .top {
    padding: 6rem 1rem 4rem 1rem; }
    .top .bandName {
      font-size: 10em; }
    .top #subtitle {
      font-size: 5em;
      padding: 3rem 0rem 0rem 0rem; }
    .top button {
      font-size: 2.3em;
      padding: 1.5rem;
      margin: 0rem 0.5rem 0rem 0.5rem; }

  .gig-card button {
    letter-spacing: 0.45rem; }
  .gig-card p {
    margin-top: 9px; }

  #press {
    padding: 3rem; }
    #press .card-container {
      padding-left: 2rem; }
      #press .card-container .press-card {
        width: 41%;
        margin: 0rem 1rem 0rem 1rem; }

  #social-icons .fa {
    font-size: 8em; } }
@media (min-width: 1025px) {
  .altTopBackground {
    background: none; }

  .top {
    padding: 8rem 8rem 3.8rem 8rem; }
    .top .subtitle {
      font-size: 3.5em; }

  .gig-card {
    margin: 0rem 1rem 1rem 2rem;
    width: 91%;
    text-align: left; }
    .gig-card p {
      width: 80%;
      margin-top: 9px; }
    .gig-card button {
      width: 20%; }

  .press-card {
    width: 41%; }

  .backgroundVideo {
    display: block; }

  .plax.ccparallax-four {
    background: linear-gradient(rgba(255, 255, 255, 0.42), rgba(255, 255, 255, 0.09)), url("https://s3.amazonaws.com/txnnxr-bucket/Drax/altTop.jpeg");
    display: none; } }
@media(min-width: 1134px);
@media (min-width: 1281px) {
  .press-card {
    width: 44%; } }
/* min641 portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
/* min961 big landscape tablets, laptops, and desktops */
/* min1025 standard laptops and desktops */
/* min1281 hi-res laptops and desktops */

/*# sourceMappingURL=style.css.map */
